<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<style>
    @import "static/css/main-styles.scss";
</style>
<body>
<div>
    <a th:href="@{'/main'}">Назад</a>
    <div style="text-align: center">Добавление нового пользователя</div>
</div>

<div>
    <form th:method="POST" role="form"
    th:action="@{'/addUser'}"
    th:object="${model}">
        <div>
            <input type="text" name="lastName">
            <label>Фамилия</label>
        </div>
        <div>
            <input type="text" name="firstName">
            <label>Имя</label>
        </div>
        <div>
            <input type="text" name="middleName">
            <label>Отчество</label>
        </div>
        <div>
            <div style="display:flex">
                <input type="text" name="passportSerial">
                <input type="text" name="passportNumber">
                <label>Серия и номер паспорта</label>
            </div>
        </div>
        <div>
            <button type="submit">Добавить</button>
        </div>
    </form>
    <th:block th:if="${validationMessage}">
        <div>Все поля должны быть заполнены</div>
    </th:block>
</div>

</body>
</html>